<td class="text-right">{{input value=description class="form-control" autofocus=true tabindex=1}}</td>
<td class="text-right">{{input value=units class="form-control text-right" tabindex=2}}</td>
<td class="text-right">{{input value=unitPrice class="form-control text-right" tabindex=3}}</td>
<td class="text-right">{{input value=lineAmount class="form-control text-right" readonly=true}}</td>
<td><button {{action "createLine" invoice}} class="btn btn-link" tabindex=4>Add</button></td>