<tr>
  <td class="text-right">{{input value=description class="form-control"}}</td>
  <td class="text-right">{{input value=units class="form-control text-right"}}</td>
  <td class="text-right">{{input value=unitPrice class="form-control text-right"}}</td>
  <td class="text-right">{{input value=lineAmount class="form-control text-right" readonly=true}}</td>
  <td><button {{action "saveLine" invoice}} class="btn btn-link">Save</button></td>
</tr>