<h3>{{name}}</h3>
<table class="table">
  <tbody>
    <dl class="dl-horizontal">
      <tr>
        <td>Name:</td>
        <td>{{name}}</td>
      </tr>
      <tr>
        <td>Address:</td>
        <td>{{address}}</td>
      </tr>
      <tr>
        <td>City:</td>
        <td>{{city}}</td>
      </tr>
      <tr>
        <td>Region:</td>
        <td>{{region}}</td>
      </tr>
      <tr>
        <td>Postal Code:</td>
        <td>{{postalCode}}</td>
      </tr>
      <tr>
        <td>Reference:</td>
        <td>{{reference}}</td>
      </tr>
      <tr>
        <td>Status:</td>
        <td>{{status}}</td>
      </tr>
      <tr>
        <td>Email:</td>
        <td>{{email}}</td>
      </tr>
      <tr>
        <td>Phone:</td>
        <td>{{phone}}</td>
      </tr>
      <tr>
    </dl>
  </tbody>
</table>
{{#link-to 'customers.edit' model}}Change{{/link-to}}

{{outlet}}
